<h1>Signup</h1>
<style>
    h1{
        text-align: center;
        margin-top:100px;
    }
    form{
        margin-top: 60px;
        margin-left: 350px;
    }
    button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color: black;
    font-size: large;
}

</style>
<form method="post">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit">Signup</button>
    <a href="{% url 'login' %}">Already have account?</a>
</form>